@model E_Commerce.Models.ProductList
@{
    ViewBag.Title = "Product";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/ruang-admin.min.css" rel="stylesheet" />
<link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
<!-- Topbar -->
<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Product</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product</li>
        </ol>
    </div>
    <div class="container-fluid" style="text-align: right; padding-bottom: 20px;">


        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Add New Product
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="@Url.Action("simpleform","Admin",new { area="admin" })">Add Simple Product</a>
                <a class="dropdown-item" href="@Url.Action("variantform","Admin",new { area="admin" })">Add Variant Product</a>

            </div>
        </div>
    </div>


    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Products</h6>
            </div>
            <div class="table-responsive p-3">
                <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                        <tr>
                            <th>Is Active</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>SKU</th>
                            <th>Category</th>
                            <th>Sub Category</th>            
                            <th>Stock</th>
                            <th>Selling Price</th>
                            <th>MRP</th>
                            <th>Discount</th>
                            <th>Variants</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tfoot class="thead-light">
                        <tr>
                            <th>Is Active</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>SKU</th>
                            <th>Category</th>
                            <th>Sub Category</th>
                            <th>Stock</th>
                            <th>Selling Price</th>
                            <th>MRP</th>
                            <th>Discount</th>
                            <th>Variants</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                    </tfoot>
                    <tbody id="filltable">
                        @foreach (var product in Model.productList)
                        {
                            var category = Model.categoryList.Where(x => x.category_id == product.category_id).ToList();
                            var subcat = Model.subcategoryList.Where(x => x.sub_category_id == product.sub_category_id).ToList();
                            var variant = Model.productvariantList.Where(x => x.product_id == product.product_id).ToList();

                            var img = Model.ImageList.Where(x => x.product_variant_id == variant[0].product_variant_id).SingleOrDefault();
                            
                            int flag = 0;
                            if (product.isvariant == 0)
                            {
                                flag = 1;
                                
                            }
                            else
                            {
                                flag = 0;
                            }
                            <tr>
                                @if (product.Isactive == 1)
                                {
                                    <td>active</td>
                                }
                                else
                                {
                                    <td>Inactive</td>
                                }
                               
                                    <td><img src="@img.main_image" atl="" width="100px" height="100px"></td>
                                
                                <td>@product.title</td>
                                <td>@product.sku</td>

                                <td>@category[0].category_name</td>
                                <td>@subcat[0].sub_category_name</td>
                              
                                <td>@variant[0].unit_in_stock</td>
                                <td>@variant[0].Selling_price</td>
                                <td>@variant[0].MRP</td>
                                @if (variant[0].discount == 0)
                                {
                                    <td>no discount</td>
                                }
                                else
                                {
                                    <td>@variant[0].discount</td>
                                }
                               
                                @if (flag == 1)
                                {
                                    <td>-</td>
                                    <td>
                                        <a href="@Url.Action("editsimpleproduct", "Admin", new { id=product.product_id,area="admin"})">
                                            <i class="fas fa-edit text-info"></i>
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a href="@Url.Action("addvariant", "Admin", new { id=product.product_id,area="admin"})">
                                            <i class="fas fa-eye text-success"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("editvariantform", "Admin", new { id=product.product_id,area="admin"})">
                                            <i class="fas fa-edit text-info"></i>
                                        </a>
                                    </td>
                                }

                               
                                <td>
                                    <button type="button" id="removebtn" class="btn" onclick="removeproduct(@product.product_id)">
                                        <i class="fas fa-trash text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <ul class="pagination">
                    @for (int i = 1; i <= Model.total_page; i++)
                    {
                        <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                            <a class="page-link" href="@Url.Action("product","Admin", new { area="admin", id = i })">@i</a>
                        </li>
                    }
                </ul> 
            </div>
        </div>
    </div>

</div>



<script>
    function removeproduct(id) {
        $.ajax({
            type: "GET",
            url: "/admin/Admin/removeproduct/" + id,

            success: function (response) {
                alert("product removed");
            }
        })
    }
</script>