@model E_Commerce.Models.ProductList

@{
    Layout = null;
}

@foreach (var category in Model.categoryList)
{
    var sub_category = Model.subcategoryList.Where(x => x.category_id == category.category_id).ToList();

<div class="panel panel-default" id="catlist">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@category.category_id">
                <div class="row">
                    <div class="col-6" style="text-align:left;">
                        <strong>@category.category_name</strong>
                    </div>
                    <div class="col-6" style="text-align:right;">
                        <span>
                            @if (category.Isactive == 1)
                            {
                                <td>active</td>
                            }
                            else
                            {
                                <td>Inactive</td>
                            }
                        </span>
                       
                    </div>
                </div>
            </a>
        </h4>
    </div>
    <div id="collapse_@category.category_id" class="panel-collapse collapse">
        <div class="panel-body row">
            <div class="col-lg-6">

                <table id="sub_cat_id_@category.category_id">
                    @foreach (var sc in sub_category)
                    {
                        <tr>
                            <td>@sc.sub_category_name</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-lg-6" style="text-align:right;">
                <button type="button" onclick="changestatus(@category.category_id)" class="btn" style="margin:10px 0; width:200px; background:lightgrey;">
                @if (category.Isactive == 1)
                {
                   <span>MAKE INACTIVE</span>
                }
                else
                {
                   <span>MAKE ACTIVE</span>
                }
                </button><br>
                    <button data-toggle="collapse" data-target="#demo_@category.category_id" type="button" class="btn" style="margin:10px 0; width:200px; background:lightgrey;">Add Sub Category</button><br>

                    <div class="container" id="demo_@category.category_id" style="padding:20px; display:none;">
                        <form id="sub-cat-form_@category.category_id" class="add-sub form" method="post">

                            <div class=" col-lg-12 col-sm-12">
                                <div class="input-group mb-3">
                                    @Html.TextBoxFor(x => x.sub_category_name, new { @class = "form-control ", @placeholder = "Enter Sub Category" })
                                    <div class="input-group-append">
                                        <button id="sub-cat-btn_@category.category_id" class="btn btn-lg btn-primary" style=" padding: 5px; width: 72px;" type="button"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>



</div>

        </div>
    </div>
</div>

    
<script>
    $(document).ready(function () {
        $("#sub-cat-btn_@category.category_id").click(function () {

            var data = $("#sub-cat-form_@category.category_id").serialize();
            var id = "@category.category_id";
            $.ajax({
                type: "POST",
                url: "/admin/Admin/addsubcategory/"+id,
                data: data,
                success: function (response) {
                    $(".categoryclass").load("/admin/Admin/getcategory");
                }
            })

        })

    })
</script>
    
}