@model E_Commerce.Models.UserDetails
@{
    ViewBag.Title = "addressbook";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


<div id="addaddress" class="container ">
    <div class="col-lg-12" style="margin-top:25px;">
        <div class="card mb-4">

            <div class="table-responsive p-3">
                <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                        <tr>
                            <th>Address</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>Pincode</th>
                            <th>Is default</th>
                            <th>Type</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tfoot class="thead-light">
                        <tr>
                            <th>Address</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>Pincode</th>
                            <th>Is default</th>
                            <th>Type    </th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var add in Model.addresslist)
                        {
                            var city = Model.cityList.Where(x => x.city_id == add.city_id).SingleOrDefault();
                            var country = Model.countryList.Where(x => x.Country_id == add.country_id).SingleOrDefault();
                            var addresstype = Model.addtypeList.Where(x => x.address_type_id == add.address_type_id).SingleOrDefault(); ;
                            <tr>
                                <td>@add.address</td>
                                <td>@city.city_name</td>
                                <td>@country.Country_name</td>
                                <td>@add.pincode</td>
                                <td>@add.isdefault</td>
                                <td>@addresstype.address_type1</td>
                                <td>
                                    <a href="@Url.Action("editAddress", "Profile", new { id = add.user_add_id, area = "admin" })">
                                        <i class="fas fa-edit text-info"></i>
                                    </a>
                                </td>
                                <td>

                                    <a href="@Url.Action("removeAddress", "Profile", new { id=add.user_add_id,area="admin", })">
                                        <i class="fas fa-trash text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <button class="btn btn-primary " id="addbt" type="button" onclick="displayform()" style="margin-left:14px;">
        Add Address
    </button>


    <div class="container" id="add-form" style="padding:20px; display:none;">
        <form class="add-form form" action="@Url.Action("addressbook", "Profile", new { area="admin" })" method="post" id="registrationForm">
            <div class="row div-margin-top">
                <div class="col-lg-6 div-margin-bottom">
                    <label for="first_name"><h4>Address</h4></label>
                    @Html.TextBoxFor(x => x.address, new { @class = "form-control ", @placeholder = "Enter Address" })

                </div>

                <div class="col-lg-6 div-margin-bottom">
                    <label for="mobile"><h4>AddressType</h4></label>
                    @Html.DropDownListFor(model => model.address_type_id, ViewBag.addtypeList as SelectList, "--Select type--", new { @class = "form-control" })
                </div>

                <div class="col-lg-6 div-margin-bottom">
                    <label for="mobile"><h4>Pincode</h4></label>
                    @Html.TextBoxFor(x => x.pincode, new { @class = "form-control ", @placeholder = "Enter Pincode", @Value = (@Model.pincode == 0) ? "" : @Model.pincode.ToString() })
                </div>

                <div class="col-lg-6 div-margin-bottom">
                    <label for="email"><h4>City</h4></label>
                    @Html.DropDownListFor(model => model.city_id, ViewBag.cityList as SelectList, "--Select City--", new { @class = "form-control" })
                </div>

                <div class="col-lg-6 div-margin-bottom">
                    <label for="email"><h4>Country</h4></label>
                    @Html.DropDownListFor(model => model.country_id, ViewBag.countryList as SelectList, "--Select Country--", new { @class = "form-control" })
                </div>
                <div class="col-lg-12 div-margin-bottom">
                    <button class="btn btn-lg btn-primary" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function displayform() {
        var x = document.getElementById("add-form");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>